a {
    font-size: 1.2rem;
}

img {
    width: 100%;
    height: 845px;

}

p {
    color: #ffffff;
    width: 40vw;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h6 {
    text-align: center;
}

hr {
    border: dotted darkgray 10px;
    border-bottom: none;
    margin: 50px auto;
}

h1 {
    color: white;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/*title*/
#title {
    font-size: 1.7rem;
}

.home-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.85;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 45%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    font-size: 1.7rem;
}

.demo a:hover {
    opacity: .5;
    text-decoration: none;
}

#section01 a {
    padding-top: 40px;
}

#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/*bottom-homepage-section*/
#bottom-home {
    font-size: 2.2rem;
}

.bottom-section {
    background-color: #4E89AE;
}

.bottom-grid {
    display: grid;
    padding: 20px;
    width: 100%;
    height: 780px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9";
    grid-gap: 20px;
}

.grid-img {
    width: 100%;
}

.grid-1 {
    grid-area: item1;
    background-image: url("https://i.pinimg.com/564x/51/f7/a2/51f7a2fb5ec2e6b674d7f8761eb4db72.jpg");
    background-size: cover;
    background-position: center;
}

.grid-2 {
    grid-area: item2;
    background-image: url("https://i.pinimg.com/564x/04/ce/ae/04ceae8281331624b88f3c3ae4c3fab4.jpg");
    background-size: cover;
    background-position: center
}

.grid-3 {
    grid-area: item3;
    background-image: url("https://i.pinimg.com/564x/62/97/9d/62979d3fd7be5d349cd15cd838ddbb24.jpg");
    background-size: cover;
    background-position: center
}

.grid-4 {
    grid-area: item4;
    background-image: url("https://i.pinimg.com/564x/69/0a/20/690a202e43ad4d9326bd513c8cbe7374.jpg");
    background-size: cover;
    background-position: center
}

.grid-5 {
    grid-area: item5;
    background-image: url("https://i.pinimg.com/564x/6a/88/2a/6a882a76bc6ec2ebafdcbcc12d7db506.jpg");
    background-size: cover;
    background-position: center
}

.grid-6 {
    grid-area: item6;
    background-image: url("https://i.pinimg.com/564x/0a/90/c6/0a90c629e215620dddc120659536139c.jpg");
    background-size: cover;
    background-position: center
}

.grid-7 {
    grid-area: item7;
    background-image: url("https://i.pinimg.com/564x/0b/6d/b0/0b6db04f95a0990d82c107726603d4f2.jpg");
    background-size: cover;
    background-position: center
}

.grid-8 {
    grid-area: item8;
    background-image: url("https://i.pinimg.com/564x/c0/cb/ef/c0cbef252216a776b0961848f69e2136.jpg");
    background-size: cover;
    background-position: center
}

.grid-9 {
    grid-area: item9;
    background-image: url("https://i.pinimg.com/564x/a4/71/12/a47112fe7759ce300af33c84e319355b.jpg");
    background-size: cover;
    background-position: center
}

.grid-disc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    font-weight: 700;
    letter-spacing: 8px;

}

.grid-disc a:hover {
    color: darkblue;
}

/*education page*/

.educationBody {
    background-color: #a6f6f1;

}

.educationTitle {
    font-family: 'Trispace', sans-serif;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 2%;
    margin-bottom: 0;
    font-weight: bold;
    color: black;
}

.educationPara {
    font-family: "Courier New", sans-serif;
    color: black;
    text-align: left;
    width: 90vw;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 4%;
    margin-bottom: 0;
}

.educationPicture {

    float: left;
    padding-left: 3%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 40%;
    height: 40%;

}

.educationSection2 {
    padding: 2% 4%;
}

.educationHr {
    border: dotted lightgray 7px;
    border-bottom: none;
    margin: 40px auto;
}

.educationMore {
    text-align: center;
    color: darkslateblue;
}

.educationMorePara {
    color: black;
    font-size: 1.4rem;
    width: 90vw;
    line-height: 2.3rem;
    font-family: "Courier New", serif;
}

.educationImage {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    border-radius: 25px;
    transition: transform .2s;
}

.educationImage:hover {
    transform: scale(1.2);
}

.educationImage2 {
    width: 60%;
    height: 60%;
    margin-left: 22%;
    border-radius: 120px;
    transition: transform .2s;
}

.educationImage2:hover {
    transform: scale(1.2);
}

/*aboutthisweb*/

.aboutBackground {

    background-color: #a6f6f1;
}

.aboutme {
    padding: 2% 19%;
}

.aboutPic {
    width: 100vw;
    height: 600px;

}

.about-top {
    position: relative;
    text-align: center;
    color: white;
}

.about-title {
    margin: 0;
    text-align: center;
    padding: 4% 3%;
    font-size: 4.5rem;
    color: black;
    font-family: 'Grandstander', cursive;
}

.sunrise-background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutgrid {
    display: grid;
    padding: 20px;
    width: 100%;
    height: 780px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "item10 item11";
    grid-gap: 20px;
}

.aboutimg {
    grid-area: item10;
}

.aboutDisc {
    grid-area: item11;
    width: 100%;
    color: black;
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Acme', sans-serif;
}

.mypicture {
    width: 50%;
    height: 50%;
    float: left;
    padding-bottom: 50px;
}

.mypicture1 {
    width: 50%;
    height: 50%;
    float: right;
    padding-bottom: 50px;
}

.aboutlist {

    font-family: 'Caveat', cursive;
    font-size: 1.7rem;

}

/*contact Me*/

.contactPage {
    background-color: #a6f6f1;
    margin-top: 3%;
}

.contact {
    padding: 4%;
    height: 400px;
}

.col-md-3 {
    background: #3797a4;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

.contactImg {
    width: 70%;
    height: 70%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*hobbyPage*/
.hobbyPage {
    background-color: #a6f6f1;
    margin-top: 3%;
}

#hobbySec {

    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    padding-left: 3%;
    font-family: 'Architects Daughter', cursive;
    padding-top: 3%;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.colored-section {

    background-color: #FF4c68;
    color: #fff;

}

.testimonials-image {
    width: 65%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;

}

.hobbyPara {
    width: 95vw;
    color: black;
    margin-left: 2%;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 4%;
    margin-right: 2%;
    padding-left: 2%;
    opacity: 80%;
    font-size: 2.4rem;
}

.hobbyVideo {
    width: 980px;
    margin: 0 20%;
    padding-bottom: 4%;
}

.hobby-top {
    position: relative;
    text-align: center;
}

.hobby-title {
    margin: 0;
    text-align: center;
    padding: 4% 3%;
    font-size: 4.5rem;
    color: #01c5c4;
    font-family: 'Grandstander', cursive;
}

.hobby-background {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hobbyImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;
}

.hobbyImage:Hover {
    transform: scale(1.1);
}

.hobby-subtitle {
    padding-left: 4%;
    padding-bottom: 2%;
    color: #00adb5;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.hobbyMore {
    font-family: 'Special Elite', cursive;
    font-size: 1.7rem;
    color: black;
    padding-left: 8%;
    padding-top: 3%;
    padding-right: 8%;
    width: 100%;
    line-height: 3.4rem;
}

/*skill*/

.skillBackground {
    background-color: black;
}

.skillTop {
    color: white;
    text-align: center;
    padding-top: 6%;
    font-family: 'Kulim Park', sans-serif;
    font-size: 3.2rem;
}

.skillDisc {
    font-family: 'Blinker', sans-serif;
    color: white;
    text-align: center;
    padding-top: 2%;
}

.skillLevel {
    color: #D3D3D3;
}

.skill-grid {
    display: grid;
    padding: 40px;
    width: 100%;
    height: 550px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "skill1 skill2 skill3 skill4";
    grid-gap: 20px;

}

.skill-1 {
    grid-area: skill1;
    color: white;
    text-align: center;
}

.skill-2 {
    grid-area: skill2;
    color: white;
    text-align: center;

}

.skill-3 {
    grid-area: skill3;
    color: white;
    text-align: center;
}

.skill-4 {
    grid-area: skill4;
    color: white;
    text-align: center;

}

.skillTopic {
    font-family: 'Inconsolata', monospace;
}

.skillPara {
    color: lightslategray;
    font-size: 1.4rem;
    width: 100%;
}

.skillUp {
    margin-bottom: 3%;
}

.skillsub {
    font-family: 'Inconsolata', monospace;
    padding-left: 4%;
    color: white;
}

.skillSubDisc {
    font-family: 'Blinker', sans-serif;
    color: white;
    width: 100%;
    padding-left: 6%;
    padding-right: 4% ;
    font-size: 2rem;
    line-height: 4.5rem;
}

.javaPic {
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;

}

.javaPic:Hover {
    transform: scale(1.2);
}

.languagePic {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;

}

.languagePic:Hover {
    transform: scale(1.2);

}

.linkPage {
    color: white;
    text-align: center;
    transition: 0.3s;
    font-size: 1.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Blinker', sans-serif;
}

.linkPage:Hover {
    color: darkslateblue;
    text-decoration: none;
}